[Desktop Entry]
Type=Service
Name=PSS (Desktop)
Comment=PSS design language for desktops
Keywords=Desktop, Workspace, Appearance, Look and Feel, Logout, Lock, Suspend, Shutdown, Hibernate

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=

X-KDE-PluginInfo-Author=Pier Luigi Fiorini
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=pierluigi.fiorini@maui-project.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.pss.lookandfeel.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.maui-project.org

X-Plasma-MainScript=defaults
